/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
}

.checkout-verify-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.checkout-verify-left-container {
    width: 80%;
    /* background-color: #fff; */
    padding: 5px;
    /* border-radius: 5px; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    margin-right: 20px;
    
}

.checkout-verify-const {
    background-color: white;
    /* min-height: 10px; */
    text-decoration: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 10px;
    color: #212121;
    border-radius: 3px;
    border-bottom: #ccc;
    /* margin-bottom: 10px; */
    padding: -3 0 12px;
    width: 100%;
}

.checkout-verify-header1, .checkout-verify-header2 ,.checkout-verify-header3 ,.checkout-verify-header4 {
    background-color: white;
    padding: 15px;
    font-weight: 600;
    /* padding-left: 15px;
    padding-top: 3px; */
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #878787;
    
}
.checkout-verify-header-num{

    color: #2870f0;
    padding: 3px 7px;
    font-size: 13px;
    border: 3px;
    background-color: #f0f0f0;
    margin-right: 8px;


}

/* .login-container {
    width: 100%;
    height: 35px;
    
   
   
} */

.checkout-verify-login-info {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    font-size: 14px;
    padding:  2px 8px 14px 8px;
}
.checkout-verify-contact-name{

    position:fixed;
    top:70px;
    margin-left: 30px;
    /* margin-right: 100px; */
}
.checkout-verify-contact-number{
    
    position: fixed;
    top: 70px;
    margin-left: 150px;

   
    /* margin-b: 0px; */
}

.checkout-verify-change-link {
   
    text-align: center;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-left: 700px;
    margin-right: 20px;
    /* margin-bottom: 20px; */
   
    text-align: top;
    padding: 8px 14px 8px;
}
.checkout-verify-change-link a{

    color: #2874f0;
    text-decoration: none;
    text-align: top;
    padding-bottom: 60px;
}

.checkout-verify-login-details-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    
    border-radius: 5px;
    font-size: 14px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.checkout-verify-login-details {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin-bottom: 30px;
}

.checkout-verify-login-details-left {
    width: 50%;
}

.checkout-verify-login-details-right {
    width: 50%;
    padding-left: 20px;
}

.checkout-verify-login-details-right h4 {
    margin-bottom: 10px;
}

.checkout-verify-login-details-right ul {
    list-style-type: none;
}

.checkout-verify-login-details-right li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkout-verify-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.checkout-verify-continue-btn {
    display: inline-block;
    background-color:#Fb641B;
    color: #fff;
    text-decoration: none;
    padding: 20px 70px;
    font-weight: 600;
   
    /* border-radius: 5px; */
    margin-top: 10px;
}
/* .continue-btn-active{

    background-color: #367ed7;
    color: #fff;
} */
.checkout-verify-change-link-active {
    background-color: #367ed7;
    color: #fff;
}

.checkout-verify-info-row {
    margin-top: 10px;
}
.checkout-verify-delivery-address {
    padding: 15px;
}

.checkout-verify-address-line {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 15px;
}

.checkout-verify-bold-text {
    font-weight: bold;
    font-size: 15px;
    margin-right: auto;
}

.checkout-verify-edit-button {
    background-color: transparent;
    color: #2870f0;
    border: none;
    cursor: pointer;
}

.checkout-verify-bluetick-1, .checkout-verify-bluetick-2, .checkout-verify-bluetick-3 {
    height: 25px;
    width: 25px;
    margin-left: 3px;
    display: none;
}

.checkout-verify-deliver-here-button {
    background-color:#Fb641B;
    color: #fff;
    padding: 20px 60px 20px;
    margin: 30px;
    margin-bottom: 30px !important;
    border: none;
    font-weight: 600;
    /* border-radius: 5px; */
    /* display: flex !important; */
    position: relative;
    top: -9px;
    cursor: pointer;
}
.checkout-verify-ordersummary-const{
 
    background-color: white;
    /* min-height: 10px; */
    text-decoration: none;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    font-size: 10px;
    right: 0;
    color: #212121;
    border-radius: 3px;
    margin-top: 20px;
    /* margin-bottom: 10px; */
    padding: -3 0 12px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: end;
}
   


.checkout-verify-continue-btn-order{

    background-color:#Fb641B;
    color: #fff;
    padding: 8px 16px 8px;
    border: none;
    height:50px;
    width: 120px;
    margin-top: 20px;
    margin-right: 40px;
    font-weight: 600;
}  
.checkout-verify-payment-options{
    
    text-align: center;
    font-size: 40px;
    width: 100%;
    height: 400px;
}
.checkout-verify-payment-options-trouble{

    height:80px;
    width: 80px;
    margin-top:80px;
}
.checkout-verify-right-container {
    width: 35%;
    background-color: #fff;
    position: sticky;
    height: 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.checkout-verify-price-const {
    background-color: white;
    min-height: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 20px 20px 15px;
}

.checkout-verify-price-header {
    background-color: white;
    color: #878787;
    text-decoration: bold;
}
.checkout-verify-price-header h4{
  
    background-color: white;

}

.checkout-verify-price-line {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
}

.checkout-verify-price-left {
    flex-basis: 70%;
    text-align: left;
    /* border-right: 1px solid #ccc; */
    background-color: white;
    margin-bottom: 20px;
}

.checkout-verify-price-right {
    flex-basis: 30%;
    text-align: right;
    background-color: white;
}
.checkout-verify-price-linetotal{

    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-top:1px dashed #ccc;
    border-bottom:1px dashed #ccc;

}
.checkout-verify-price-lefttotal{

    flex-basis: 70%;
    text-align: left;
    /* border-right: 1px solid #ccc; */
    background-color: white;
}
.checkout-verify-price-righttotal{

    flex-basis: 30%;
    text-align: right;
    background-color: white;

}

.checkout-verify-price-center {
    flex-basis: 100%;
    text-align: left;
    background-color: white;
}

.checkout-verify-footer{

    min-height: 130px;
    display: flex;
   
    /* justify-content: center; */
    align-items: center;
    margin-top:50px;
    /* margin-left: 20px; */
    padding-left: 60px;
    text-align: center;
    background-color: #f5f7fa;
    border: 1px dashed red;
    font-size: 14px;
    color: #3d3c3c;
    border: 1px solid transparent; 
    box-shadow: 7px 4px 2px -2px rgba(0, 0, 0, 0.2); 
    border: 1px solid #ddd;
    width: 100%;

}
.checkout-verify-footer-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.checkout-verify-footer-co1,

.checkout-verify-footer-co3 {
    margin-right: 30px; /* Adjust the spacing as needed */
}
.checkout-verify-footer-co2{

    margin-right: 180px;
    float: right;
} 
.checkout-verify-footer-co3 {
    margin-right: 0; /* Remove the right margin from the last child */
  }
.checkout-verify-footer-help a,
.checkout-verify-footer-contact a {
    text-decoration: none;
    color: #367ed7;
}
/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
.checkout-verify-container {
    width: 95%;
}

.checkout-verify-header {
    font-size: 20px;
}

.checkout-verify-footer {
    font-size: 12px;
}
}



.checkout-verify-card-body{

    background-color: white;

    min-height: 200px;
    margin-top: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    /* box-shadow: 0 0  10px rgba(0, 0, 0, 0.2); */
    border-radius: 20px;
    /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); */
    /* padding-bottom: 100px; */
    z-index: 5;

}
.checkout-verify-product_row {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  padding: 20px;
  }
  
.checkout-verify-col-1 {
    flex: 0 0 17.66667%;
    max-width: 17.66667%;
    background-color: white;
    padding: 0 10px;
  }
.checkout-verify-product{
 
    background-color: white;

}
.checkout-verify-product_img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    
   
  }
.checkout-verify-quantity_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    
  }
  
.checkout-verify-circle-btn-plus, .checkout-verify-circle-btn-minus {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #ccc;
    color: black;
    text-align: center;
    line-height: 26px;
    text-decoration: none;
    cursor: pointer;
  }
  
.checkout-verify-quantity_col1, .checkout-verify-quantity_col3 {
    flex-basis: 30%;
  }
   
.checkout-verify-quantity_col2 {
    flex-basis: 50%;
   
    /* text-align: center; */
  }
  
.checkout-verify-small-input {
    width: 46px;
    height: 28px;
    text-decoration: none;
    text-align: center;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 3px;
    margin-left: 8px;
    margin-right: 8px;
  }

.checkout-verify-small-input:focus {
    /* border: none !important; */
    outline: none;

  }

.checkout-verify-product_imgline1 {
    text-decoration: none;
    background-color: white;
    color: black;
    margin-left: 5px;
    transition: color 0.3s ease;
  }
  
.checkout-verify-product_imgline1:hover {
    color: rgb(0, 102, 255);
  }
.checkout-verify-product_line2{

    background-color: white;
    color: rgb(145, 146, 147);
    font-size: 13px;
    margin-bottom: 10px;
    margin-left: 5px;

}
.checkout-verify-product_imgline3{

    background-color: white;
    color: rgb(145, 146, 147);
    margin: 5px;
    font-size: 13px;
   
}
.checkout-verify-line3img{

    max-width: 65px;
    height: auto;
    
}
.checkout-verify-price-container {
    display: flex;
    align-items: center;
    margin-top: 25px;
    background-color: white;
    margin-bottom: 10px;
}

.checkout-verify-price {
    margin-right: 10px;
    background-color: white;
}

.checkout-verify-original-price {
    color: rgb(145, 146, 147);
    background-color: white;
    text-decoration: line-through;
}

.checkout-verify-discount {
    color: green;
    background-color: white;
}

.checkout-verify-product_quatity{

    background-color: white;
}
.checkout-verify-product_line5{

    background-color: white;
    font-size: 13px;
}
.checkout-verify-product_line6 {
    background-color: white;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.checkout-verify-product_line6 a {
    text-decoration: none;
    background-color: white;
    color:#212121;
    padding: 0 -3px; 
    transition: color 0.3s ease; 
    margin-right: 30px;
    font-weight: 600; /* Make the text bold */
    font-size: 16px;
  }
  
.checkout-verify-product_line6 a:hover {
    color: rgb(0, 102, 255); /* Change the color on hover */
  }
  
.checkout-verify-col-2 {
    flex: 0 0 40%;
    max-width: 40%;
    background-color: white;
    padding: 0 10px;
  }
  
.checkout-verify-col-3 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    background-color: white;
    padding: 0 10px;
  }
.checkout-verify-delivery-container {
    display: flex;
    align-items: center;
    background-color: white;
}

.checkout-verify-delivery-info {
    margin-right: 10px;
    font-size: 13px;
    white-space: nowrap;
    background-color: white;
}

.checkout-verify-delivery-cost {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.checkout-verify-delivery-cost s {
    text-decoration: line-through;
    background-color: white;
    margin-right: 5px;
}