*{
    font-family: inter_regular, fallback-inter_regular, Arial, sans-serif;
    
}

#categories {
    
    margin-top: 6px;
    margin: 12px;
    margin: auto;
    width: 95%;
    margin: auto;
    background-color: white;
    margin-top: 10px;
    font-family: sans-serif;
}
.cdropdown {
    float: left;
    overflow: hidden;

}
.cdropdown .cdropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(30, 28, 28);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    border-radius: 10px;
}
.cdropdown .cdropbtn {
    position: relative;
    margin-left: -10px;
    position: relative;
    margin-right: -10px
    /* Necessary for positioning pseudo-elements */
}
.cdropbtn i {
    transition: transform 0.3s ease-in;
}

.cdropbtn:hover i {
    transform: rotate(180deg);
}




 .cdropdown:hover .cdropbtn {
        color:blue;
}






.cdropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.cdropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.cdropdown:hover .cdropdown-content {
    display: block;
}

.categories-class{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}
.C-title{
    margin-top: 20px;
}
.image-row, .title-row {
    display: flex;
    justify-content: space-between;
    
}

.title-row{
   
    margin-top: -30px;
    margin-left: 25px;
    margin-right: -12px;
}

.image-row{
       margin-left: 10px;
    margin-right: 30px;
}

.category-dropDown {
    margin:6px 13px 10px;
    text-align: center;
}

