.body{
    overflow-x: hidden;
}

.banner {
    display: inline-block;
    width: 97vw;
    height: auto;

}

.startingDetails {
    width: 97vw;
    background-color: rgb(241, 238, 233);
    height: auto;

}

.productRowlist {
    width: 97vw;
}

.rating {
    width: 35px;
    border-radius: 4px;
}

.like {
    width: 15px;
    height: 15px;
}

.like-btn {
    outline: none; 
    border: none; 
    box-shadow: none; 
}


.cardRow{
    width: 97vw;
    padding-left: 1px;
    padding-right: 1px;
    gap: 0px;
    padding-left: 1px;
    padding-right: 1px;
}


.descriptionheading {
    color: grey; 
    font-size: 18px; 
}
.pdtdescription {
    max-height: 800px; 
    max-width: 97vw;
    
}
.secondary-navbar{
    padding:0px;
}
.product-img {
    width: 150px; 
    height: 150px; 
    object-fit: contain; 
}

.card-text span {
    margin-right: 5px; 
}
.product-link {
    text-decoration: none;
    color: inherit; 
    display: block; 
}

.card:hover .product-name {
    text-decoration: underline;
    
}

.product-name {
    color: inherit; 
}
.card {
    
    text-align: start; 
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
}

.card-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.product-link {
    text-decoration: none; 
    color: inherit; 
}

.card-text {
    flex-wrap: nowrap;

}
.card-price{
    font-size: medium;

}

.dotted-line {
    border-top: 1px dotted #ccc;
    margin-top: 10px;
}

.discount{
    font-size: 12px;
}